<template>
  <require from="bootstrap/css/bootstrap.css"></require>
  <require from="./sass/screen.css"></require>
  <require from="./tetris/tetris"></require>

  <div class="container" style="height: inherit">
    <div class="row align-items-center" style="height: inherit">
      <div class="col text-center">
        <tetris></tetris>
      </div>
    </div>
  </div>
</template>